node_modules/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug-error.log
yarn-error.log
/.idea
/.vscode
/storage/*.key
storage/app/reports/*
!storage/app/reports/.gitkeep
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.fleet/
.secrets.json

# Log files
*.log

# Vendor
vendor/
